.inventory-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.49), rgba(255, 255, 255, 0.815)), url(../assets/discs.jpg);
    background-size: auto;
    height: 100%;
    width: 100%;
  }

  .inventory-elements {
      background-color: rgb(255, 251, 251);
      margin-left: 16%;
      margin-right: 16%;
  }