.signup-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.49), #000), url(../assets/splash-page-bg.jpg.jpg);
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
  }

  .signup-header {
    color: #fff;
    text-align: center;
    margin-top: 80px;
  }

.card-container
{
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10px;
  padding: 5px 5px;
}

  .fade-in {
    animation: fadeIn 0.9s ease-in;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(5%);
    }
    40% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }